@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Share+Tech&display=swap');
* {
    color: #02173c;
}
body {
    background: #f0f0f0;
    font-family: 'Share Tech', sans-serif;
}
h1 {
    color: #f62a2a;
    font-size: 50px;
    text-align: center;
    font-family: 'Rubik Spray Paint', sans-serif;
}

.copyright {
    color:blue
    
}
#blog-title {
    background: #cfa5a5;
    padding: 20px;
    text-align: center;
}